.headerele{
    height: 90px;
    background-color: wheat;
    display: flex;
    justify-content:flex-end ;
}

.buttonEle{
    height: 40px;
    width: 180px;
    background-color: brown;
    border-radius: 20px;
    align-self: center;
    color: white;
    font-size: medium;
    font-weight: 700;
    outline: none;
    border: none;
    cursor:pointer;
}
.count{
    margin: 15px;
   
}